@import '../../mixins/breakpoints.scss';

.landing {
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;

  &__title {
    font-size: 5vw;

    @include max-width(phone) {
      font-size: 9vw;
    }

  }
}

