@import '../../mixins/breakpoints.scss';

.landing {
  // position: absolute;
  top:50%;
  // left:50%;
  // transform: translate(-50%,-50%);
  width: 50%;
  margin: auto;
  text-align: center;

  img {
    opacity: 0.75;
    height: 20em;

    @include max-width(phone) {
      height: 10em;
    }

  }
}

