@import '../../mixins/breakpoints.scss';

.board {
  background-color: #2288ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;

  &__entry {
    opacity: 10%;
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--hovering{
      opacity: 70%;
    }
  }

  
  &__slot {    
    $slot-dim: 4vw;

    background-color: white;
    border-radius: 50%;
    margin: 0.7em;
    height: $slot-dim;
    width: $slot-dim;

    &--1 {
      background-color: red;
    }

    &--2 {
      background-color: blue;
    }

    @include max-width(phone) {
      margin: 0.1em;
    }
    
  }
}