@import '../../../../mixins/breakpoints.scss';

$text-dim: 3vw;
$text-dim-mobile: 5vw;

.timer {
  height: 2em;
  flex-basis: 100%;
  text-align: center;
  font-size: $text-dim;

  @include max-width(phone) {
    font-size: $text-dim-mobile;
  }
}