@import '../../mixins/breakpoints.scss';

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 1.6em;
  margin: 0 1em;
  position: fixed;
  right: 1.6em;
  top: 50%;
  transform: translateY(-50%);

  &__status {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;

    @include max-width(phone) {
      font-size: 6vw;
    }
  }
}