@import '../../mixins/breakpoints.scss';

.game {
  &__status {
    
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    // @include max-width(phone) {
    //   font-size: 6vw;
    // }
  }
}